.locationsPage {
    padding: 20px;
}

.locationsPage__location:not(:first-of-type) {
    margin-top: 10px;
}

.locationsPage__addButton {
    margin-top: 20px;
}

.locationsPage__addForm {
    margin: 0 auto;
}
