.login__form {
    border: 1px solid black;
    padding: 20px;
    margin: 100px auto 0 auto;
    width: 300px;
    border-radius: 5px;
}

.login__form input,
.login__form button {
    width: 100%;
}

.login__submit {
    margin-top: 8px;
}

.login__register {
    display: block;
    margin: 10px auto 0 auto;
    width: min-content;
}

.login__spinner {
    margin: 10px auto 0 auto;
}
