.addLocationForm {
    width: 500px;
}

.addLocationForm__add,
.addLocationForm__cancel {
    width: 100%;
}

.addLocationForm__cancel {
    margin-top: var(--btn-margin-top);
}

.addLocationForm__parent {
    margin-top: 25px;
}

.addLocationForm__add {
    margin-top: 30px;
}

.addLocationForm__selectError {
    color: red;
    font-size: 12px;
    font-family: Roboto, serif;
    margin-top: 5px;
}
