.createLocationForm {
    width: 500px;
}

.createLocationForm__create,
.createLocationForm__cancel {
    width: 100%;
}

.createLocationForm__cancel {
    margin-top: var(--btn-margin-top);
}

.createLocationForm__parent {
    margin-top: 25px;
}

.createLocationForm__create {
    margin-top: 30px;
}

.createLocationForm__selectError {
    color: red;
    font-size: 12px;
    font-family: Roboto, serif;
    margin-top: 5px;
}

.createLocationForm__spinner {
    margin: 10px auto 0 auto;
}
