.service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.service__img {
    width: 50px;
    margin-right: 20px;
}

.service__rowTitle {
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 500;
}

.service__rowValue {
    font-size: 14px;
}
