.service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid var(--dark);
}

.service:first-of-type {
    border-top: 1px solid var(--dark);
}

.service__img {
    width: 50px;
    margin-right: 20px;
}

.service__rowTitle {
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 500;
}

.service__rowValue {
    font-size: 14px;
}

.service__title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--blue-1);
}
