.addSpecializationForm__add,
.addSpecializationForm__cancel {
    width: 100%;
}

.addSpecializationForm__cancel {
    margin-top: var(--btn-margin-top);
}

.addSpecializationForm__add {
    margin-top: 30px;
}

.addSpecializationForm__spinner {
    margin: 10px auto 0 auto;
}
