.createServiceForm__add {
    margin-top: 20px;
}

.createServiceForm__cancel,
.createServiceForm__add {
    width: 100%;
}

.createServiceForm__cancel {
    margin-top: var(--btn-margin-top);
}

.createServiceForm__spinner {
    margin: 10px auto 0 auto;
}

.createServiceForm__specializationsError {
    color: red;
    font-size: 12px;
    font-family: Roboto, serif;
    margin-top: 5px;
}
