.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    background: white;
    border-radius: 5px;
    width: 450px;
    padding: 20px;
    border: 1px solid var(--dark);
}

.modal__message {
    margin-bottom: 50px;
}

.modal__cancel {
    display: block;
    margin-left: auto;
    width: 100px;
}

.modal__buttons {
    display: flex;
    justify-content: space-between;
}

.modal__buttons button {
    width: calc(50% - 8px);
}
