.ordersSchedule__table {
    border-collapse: collapse;
    margin: 0 auto;
}

.ordersSchedule__td {
    font-size: 14px;
    line-height: 18px;
    border: 1px solid var(--gray);
    padding: 7px 10px;
}

.ordersSchedule__tr:first-of-type .ordersSchedule__td,
.ordersSchedule__tdBold {
    font-weight: 500;
}

.ordersSchedule__td_selected {
    background-color: var(--light-1);
}

.ordersSchedule__title {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
}
