.loginForm input,
.loginForm button {
    width: 100%;
}

.loginForm__submit {
    margin-top: 8px;
}

.loginForm__register {
    display: block;
    margin: 10px auto 0 auto;
    width: min-content;
}

.loginForm__spinner {
    margin: 10px auto 0 auto;
}
