.addOrderForm {
    width: 400px;
}

.addOrderForm__photo {
    margin-top: 15px;
}

.addOrderForm__submit {
    width: 100%;
}

.addOrderForm__cancel {
    margin-top: var(--btn-margin-top);
    width: 100%;
}

.addOrderForm__spinner {
    margin: 10px auto 0 auto;
}
