.field {
    height: 88px;
}

.field_textarea {
    height: 110px;
}

.field__label {
    font-family: Roboto, serif;
    font-size: 14px;
    line-height: 100%;
    display: block;
    margin-bottom: 5px;
}

.field__input {
    font-family: Roboto, serif;
    font-size: 16px;
    line-height: 100%;
    padding: 4px;
    width: 100%;
}

.field__error {
    font-family: Roboto, serif;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.field__textarea {
    width: 100%;
    font-family: Roboto, serif;
    font-size: 16px;
    line-height: 100%;
    resize: none;
    height: 60px;
    padding: 4px;
}
