.mastersPage__master:not(:first-of-type) {
    margin-top: 10px;
}

.mastersPage__fieldName {
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, serif;
}

.mastersPage__fieldContent {
    font-size: 14px;
}
