.me {
    padding: 100px 80px;
}

.me__surname {
    font-size: 30px;
    line-height: 100%;
    font-weight: bold;
    color: var(--dark-1);
}

.me__name {
    font-size: 24px;
    line-height: 100%;
    color: var(--dark-1);
    margin-top: 8px;
}

.me__role {
    margin-top: 20px;
    font-size: 16px;
    line-height: 100%;
    color: var(--dark-1);
}
