.register {
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

.register input,
.register button {
    width: 100%;
}

.register__submit {
    margin-top: 28px;
}

.register__login {
    display: block;
    margin: 10px auto 0 auto;
    width: min-content;
}

.register__spinner,
.register__masterSpinner {
    margin: 10px auto 0 auto;
}

.register__error {
    color: red;
}
