.navbar {
    height: 50px;
    background-color: var(--secondary-2);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 20px 0 50px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.navbar__navlink {
    color: var(--light-2);
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
}

.navbar__navlink:hover {
    background: var(--secondary-3);
}

.navbar__navlink.active {
    color: white;
    background: var(--secondary-1);
}

.navbar__logout {
    color: var(--light-2);
}

.navbar__logout:hover {
    text-decoration: underline;
}
