.forbiddenPage {
    text-align: center;
}

.forbiddenPage__img {
    display: block;
    margin: 180px auto 50px auto;
    width: 200px;
}

.forbiddenPage__text {
    font-size: 24px;
    color: var(--blue-1);
    text-align: center;
    margin-bottom: 20px;
}
