.registerForm input,
.registerForm button {
    width: 100%;
}

.registerForm__submit {
    margin-top: 28px;
}

.registerForm__login {
    display: block;
    margin: 10px auto 0 auto;
    width: min-content;
}

.registerForm__spinner,
.registerForm__masterSpinner {
    margin: 10px auto 0 auto;
}

.registerForm__error {
    color: red;
}

.registerForm__specializations,
.registerForm__locations {
    margin-top: 50px;
}

.registerForm__selectError {
    color: red;
    font-size: 12px;
    font-family: Roboto, serif;
    margin-top: 5px;
}
