.multiSelect__item {
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.multiSelect__item:hover {
    background-color: var(--light);
}

.multiSelect__itemCheckmark {
    content:url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.5' y='3.5' width='15' height='15' rx='3.5' fill='white' stroke='%23727272'/%3E%3C/svg%3E%0A");
}

.multiSelect__item_selected .multiSelect__itemCheckmark {
    content:url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Crect x='1.5' y='3.5' width='15' height='15' rx='3.5' fill='white' stroke='%23727272'/%3E%3Cpath d='M2 9.5C8.5 18 7.5 17 12.5 9C17.5 1 17 1.5 17.5 1' stroke='%231C4B79' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
