.multiSelect__item {
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.multiSelect__item:hover {
    background-color: var(--light-1);
}

.multiSelect__itemCheckmark {
    content:url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='4.5' width='15' height='15' rx='3.5' fill='white' stroke='%23727272'/%3E%3C/svg%3E%0A");
}

.multiSelect__item_selected .multiSelect__itemCheckmark {
    content:url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='4.5' width='15' height='15' rx='3.5' fill='white' stroke='%23727272'/%3E%3Cpath d='M3 10.5C9.5 19 8.5 18 13.5 10C18.5 2 18 2.5 18.5 2' stroke='%231C4B79' stroke-width='3'/%3E%3C/svg%3E%0A");
}
