.card {
    border: 1px solid var(--dark);
    padding: 20px;
    border-radius: 5px;
}

.card_white {
    background-color: white;
}

.card_light {
    background-color: var(--light-2);
}

.card_danger {
    background-color: var(--danger);
}

.card_success {
    background-color: var(--success);
}
