.createOrderForm {
    width: 400px;
}

.createOrderForm__photo {
    margin-top: 15px;
}

.createOrderForm__create {
    width: 100%;
    margin-top: 30px;
}

.createOrderForm__cancel {
    margin-top: var(--btn-margin-top);
    width: 100%;
}

.createOrderForm__spinner {
    margin: 10px auto 0 auto;
}

.createOrderForm__address,
.createOrderForm__services {
    margin-top: 20px;
}

.createOrderForm__error {
    font-family: Roboto, serif;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
