.select__item {
    cursor: pointer;
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select__item:hover {
    background-color: var(--light-1);
}

.select__icon {
    width: 25px;
    height: 25px;
}
