.masterCard__fieldName {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    font-family: Roboto, serif;
}

.masterCard__fieldContent {
    font-size: 14px;
}

.masterCard__specialization {
    background: var(--blue-2);
    color: white;
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
}

.masterCard__specializationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.masterCard__specializationTitle {
    font-size: 12px;
    line-height: 12px;
    font-family: Roboto, serif;
    margin-right: 5px;
}

.masterCard__deleteSpecialization {
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 32 32' height='32px' id='Слой_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0 l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286 c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0 c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z' fill='%23ffffff' id='Close'/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/svg%3E%0A") transparent center / contain no-repeat;
    width: 12px;
    height: 12px;
}
