.masterCard__fieldName {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    font-family: Roboto, serif;
}

.masterCard__fieldContent {
    font-size: 14px;
}

.masterCard__specialization {
    margin-right: 5px;
}

.masterCard__addSpec {
    font-size: 20px;
    color: var(--blue-2);
}
